.center-card{
    display: block;
    width: 70%;
    text-align: center;
    padding-top: 4%;
    margin: auto;
    
    .card{
        height: 15em;
        margin: 30px;
        display: inline-block;
        max-width: 240px;
        max-height: 72px;
        img{
            height: 100%;
            width: 100%;
            // filter: brightness(0) invert(1);
        }
    }
}