<div class="center-card">
  <div class="card">
    <img src="../../../assets/images/stacks/airflow_logo.png" alt="">
  </div>
  <div class="card">
    <img src="../../../assets/images/stacks/ionic_logo.svg" alt="">
  </div>
  <div class="card">
    <img src="../../../assets/images/stacks/dbt_logo_2.png" alt="">
  </div>
  <div class="card">
    <img src="../../../assets/images/stacks/aws_logo.png" alt="">
  </div>
  <div class="card">
    <img src="../../../assets/images/stacks/terraform_logo.png" alt="">
  </div>
  <div class="card">
    <img src="../../../assets/images/stacks/django_logo.png" alt="">
  </div>
</div>