.header-row{
    min-height: 70px;
    max-height: 70px;
    width: 100%;
    display: flex;
    background-color: #F6F6F6;
    max-width: 1792px;
    margin: auto;

    .header-logo{
        margin-left: 1%;
        min-height: 100%;
        width: 50%;
        img{
            max-height: 100%;
        }
    }

    .header-titles{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .title{
            text-align: center;
            flex: 0 0 120px;
            color: #071F5D;
        }

        .title-selected{
            text-align: center;
            flex: 0 0 120px;
            color: #F8344A;
            text-decoration: underline;
            text-underline-offset: 4px;
        }
    }

    .header-menu{
        width: 0%;
        visibility: hidden;
    }

    @media (max-width: 1200px) {
        .header-logo{
            width: 30%;
        }

        .header-titles{
            width: 70%;
        }
    }

    @media (max-width: 850px) {
        .header-logo{
            width: 90%;
        }

        .header-titles{
            width: 0%;
            visibility: hidden;
        }

        .header-menu{
            width: 4%;
            visibility: visible;

            ion-button{
                width: 100%;
                height: 100%;
                color: var(--fs-hard-blue);
            }
        }
    }
}