<div class="header-row">
    <div class="header-logo">
        <img src="assets/icon/fs_light.png">
    </div>

    <div class="header-titles">
        <div *ngFor="let title of titles" class="{{title.style}}" (click)="clickOntitle(title)">
            {{title.name}}
        </div>
    </div>

    <ion-menu contentId="main-content">
    <ion-header>
        <ion-toolbar>
        <ion-title>Menu Content</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
    </ion-menu>
</div>