<div class="footer-row">
  <div class="top-footer">
    <div class="first-box">
      <div class="footer-title">Contact</div>
      <div class="footer-contact">
        <div class="number-title">Caracas</div><div class="number">+58 (424)1346208</div>
      </div>
      <div class="footer-contact">
        <div class="number-title">Madrid</div><div class="number">+34 (633)141245</div>
      </div>
      <div class="footer-contact">
        <div class="number-title">Email</div><div class="number">info@futurumsoft.com</div>
      </div>
      <ion-icon *ngFor="let social of socialMedia" name="logo-{{social.name}}" (click)="resendSocial(social)"></ion-icon> 
    </div>
  </div>
  <div class="separator"></div>
  <div class="bottom-footer">
    &copy; 2023 FuturumSoft. Todos los derechos reservados
  </div>
</div>