.footer-row{
    min-height: 200px;
    max-height: 200px;
    width: 100%;
    background-color: var(--fs-white);
    max-width: 1792px;
    margin: auto;

    
    .footer-logo{
        width: 12%;
        right: 0;
        position: absolute;
        img{
            max-height: 100%;
        }
    }

    .top-footer{
        margin-left: 2%;
        height: 80%;
        width: 100%;
        .first-box{
            width: 40%;
            .footer-contact{
                width: 100%;
                margin-top: 1%;
                .number-title{
                    font-size: 15px;
                    display: inline-block;
                    padding-left: 1%;
                    font-weight: bold;
                    width: 5.5em;
                }
        
                .number{
                    font-size: 15px;
                    display: inline-block;
                    width: 12em;
                }
            }
    
            .footer-title{
                padding-left: 1%;
                padding-top: 2%;
                font-size: 20px;
                font-weight: bold;
            }
    
            .footer-city{
                padding-left: 1%;
                font-weight: bold;
                width: 50%;
            }
    
            ion-icon{
                width: 40px;
                height: 20px;
                margin-top: 10px;
            }
    
            ion-icon:hover{
                color: var(--fs-soft-blue);
                cursor: pointer;
            }
        }

        @media (max-width: 960px) {
            .first-box{
                width: 60%;
            }
        }

        @media (max-width: 600px) {
            .first-box{
                width: 80%;
            }
        }
    }

    .separator{
        background: var(--fs-hard-blue);
        min-height: 1px;
        min-width: 97%;
        width: 97%;
        align-self: center;
        margin: auto;
    }

    .bottom-footer{
        max-height: 19%;
        font-size: 12px;
        text-align: right;
        margin: 0.5% 2% 0% 0%;
    }
}