<div class="center-card">
  <div class="card">
    <div class="card-title">
      Desarrollo Web/App
    </div>
    <div class="card-text">
      Creamos proyectos ajustado a las necesidades del cliente aplicando la mejor tecnología para tener un producto competitivo en el mercado mundial
    </div>
    <div class="call-on">
      Hablemos  &#8594;
    </div>
  </div>

  <div class="card">
    <div class="card-title">
      Inteligencia de Negocio
    </div>
    <div class="card-text">
      Te ayudamos a construir estrategias de negocio a través de los datos reales de la empresa, para mejorar tu producto o servicios y  conocer el cliente para tomar decisiones efectivas.
    </div>
    <div class="call-on">
      Hablemos  &#8594;
    </div>
  </div>

  <div class="card">
    <div class="card-title">
      Marketing Digital
    </div>
    <div class="card-text">
      Desarrollamos estrategias óptimas enfocadas en dar conocer y posicionar negocios en el mercado digital.
    </div>
    <div class="call-on">
      Hablemos  &#8594;
    </div>
  </div>
</div>