.center-card{
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 5%;
    
    .card{
        border-radius: 10px;
        background: var(--fs-soft-blue);
        width: 20%;
        height: 20em;
        margin: 10px;
        display: inline-block;

        .card-title{
            text-align: left;
            padding-top: 10%;
            padding-left: 5%;
            min-height: 25%;
            font-size: 25px;
            font-weight: bold;
        }

        .card-text{
            text-align: left;
            vertical-align: middle;
            padding-left: 5%;
            min-height: 55%;
            max-height: 55%;
            overflow: hidden;
            color: var(--fs-white);
        }

        .call-on{
            vertical-align: bottom;
            text-align: left;
            padding-left: 5%;
            padding-top: 5%;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
        }
    }

    .card:hover{
        width: 21%;
        height: 21em;
        margin: 12px;
        display: inline-block;
    }

    @media (max-width: 1200px) {
        .card{
            width: 30%;
        }
        .card:hover{
            width: 31%;
        }
    }

    @media (max-width: 960px) {
        .card{
            width: 45%;
        }
        .card:hover{
            width: 46%;
        }
    }
    
    @media (max-width: 450px) {
        .card{
            width: 70%;
        }
        .card:hover{
            width: 71%;
        }
    }
}