<ion-header [translucent]="true" class="ion-no-border">
  <app-header [titles]="titles"></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- PRESENTATION -->
  <app-home-split-section id="{{titles[0].name}}">
    <div left-block>
      <app-home-title>Welcome to the <span class="highlight-red">Futurum</span>, of the digital transformation</app-home-title>
      <div><app-home-text>We drive companies to their full potential</app-home-text></div>
    </div>
    <img class="vertical-align-img" src="../../assets/images/g10.svg" right-block>
  </app-home-split-section>

  <!-- WHO ARE WE -->
  <app-home-split-section section="blue" id="{{titles[1].name}}">
    <div right-block>
      <app-home-title title_type="blue" title_align="right">Who are <span class="highlight-white">WE</span></app-home-title>
      <app-home-text text_align="right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</app-home-text>
    </div>
    <img class="vertical-align-img" src="../../assets/images/about-us.svg" left-block>
  </app-home-split-section>

  <!-- SERVICES -->
  <app-home-split-section [split]="false" id="{{titles[2].name}}">
    <div center-block>
      <app-home-title title_type="red" title_align="center">Services</app-home-title>
      <app-home-service-cards></app-home-service-cards>
    </div>
    <!-- <img class="vertical-align-img" src="../../assets/images/about-us.svg" left-block> -->
  </app-home-split-section>

  <app-home-split-section section="blue" [split]="false" id="{{titles[3].name}}">
    <div center-block>
      <app-home-title title_type="blue" title_align="center">Our Speciality</app-home-title>
      <app-home-tech-stack></app-home-tech-stack>
    </div>
    <!-- <img class="vertical-align-img" src="../../assets/images/about-us.svg" left-block> -->
  </app-home-split-section>

  <app-home-split-section [split]="false" id="{{titles[4].name}}">
    <div center-block>
    </div>
  </app-home-split-section>

  <app-home-split-section section="blue" [split]="false" id="{{titles[5].name}}">
    <div center-block>
    </div>
  </app-home-split-section>
</ion-content>
