<ion-header class="ion-no-border">
  <app-header [titles]="titles"></app-header>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="handleScroll($any($event))">
  <!-- PRESENTATION -->
  <app-home-split-section id="{{titles[0].name}}" orientation="left">
    <div left-block>
      <app-home-title>La transformación digital comienza por
        <span class="highlight-red {{higlight_class}}">{{frontMessages[selectFrontMessage]}}</span>
        <!-- a traves de la transformación digital  -->
        <!-- <span class="highlight-red">Transformación Digital</span> -->
      </app-home-title>
      <!-- <div><app-home-text [text_size]="">We drive companies to their full potential</app-home-text></div> -->
    </div>
    <!-- <img class="vertical-align-img" src="../../assets/images/g10.svg" right-block> -->
  </app-home-split-section>

  <!-- WHO ARE WE -->
  <app-home-split-section id="{{titles[1].name}}" background="blue" orientation="right" [section_id]=1>
    <div right-block>
      <app-home-title title_type="blue" horizontal_alignment="right"><span class="highlight-white">Conócenos</span></app-home-title>
      <app-home-text text_align="right">En FuturumSoft <span class="highlight-white highlight-bold">creamos negocios inteligentes</span> a través de la transformación digital, por medio de la automatización de  procesos con la más alta calidad, claridad y seguridad, para desarrollar el máximo potencial.</app-home-text>
    </div>
  </app-home-split-section>

  <!-- SERVICES -->
  <app-home-split-section id="{{titles[2].name}}" orientation="center" [section_id]=2>
    <div center-block>
      <app-home-title title_type="blue" horizontal_alignment="center" vertical_alignment="">¿Qué podemos hacer por ti?</app-home-title>
      <app-home-service-cards></app-home-service-cards>
    </div>
  </app-home-split-section>

  <!-- TECH STACK -->
  <app-home-split-section id="{{titles[3].name}}" orientation="center" background="blue" [section_id]=3>
    <div center-block>
      <app-home-title title_type="blue" horizontal_alignment="center" vertical_alignment="">Tecnologías</app-home-title>
      <app-home-text text_align="center">Trabajamos con las mejores herramientas para tu proyecto</app-home-text>
      <app-home-tech-stack></app-home-tech-stack>
    </div>
  </app-home-split-section>

  <!-- CONTACT US -->
  <app-home-split-section id="{{titles[4].name}}" orientation="split" [section_id]=4>
    <div left-block>
      <app-home-title title_type="red" horizontal_alignment="left" vertical_alignment="top">¿Listo para el cambio?</app-home-title>
      <app-home-text text_size="big">Llevemos tu negocio a la <span class="highlight-bold-italic">Transformación Digital</span></app-home-text>
      
      <div class="special-message">
      </div>
    </div>
    <div right-block>
      <app-home-form></app-home-form>
    </div>
  </app-home-split-section>
  <app-home-footer></app-home-footer>
  
</ion-content>